html{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}


.mainContainer{
    height: 100vh;
    border: black solid 1px;
}

.header{
    height: 20vh;
    display: flex;
}

.mainBody{
    border: black solid 1px;
    height: 70vh;
}

.footer{
    border: black solid 1px;
    height: 10vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#leftCol{
    border: black solid 1px;
    height: 20vh;
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#rightCol{
    border: black solid 1px;
    height: 20vh;
    width: 50vw;
}
#reset{
    border-radius: 5px;
    padding: 10px 30px;
    background-color: #9E7F51;
    color: rgb(255, 255, 255);
    box-shadow:1px 1px rgb(0,0, 0, 0.5);
}

.button {
    border-radius: 5px;
    padding: 10px 30px;
    background-color: #6065EB;
    color: white;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}


.footer p {
    font-size: 12px;
}